.sale-form {
  .input-group {
    position: relative;
    width: 100%;
    @include flex-layout(column, center, flex-start);
    select {
      box-sizing: border-box;
      width: 100%;
      // height: 57px;
      padding: 1.5rem 1rem;
      border-radius: 1rem;
      border: none;
      background-color: #e8e8e8;
      &::placeholder {
        font-size: 12px;
      }
      &:focus::placeholder {
        opacity: 0;
      }
    }
  }
}
