.board-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
}

//상단 영역
.board-header {
    background-color: #fff;
    padding: 16px;
}

.board-header h2 {
    font-size: 20px;
    margin-bottom: 12px;
}

.board-select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid var(--color-main-4-hover);
    
}

//제목 + 작성일
.board-table {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-main-3);
    padding: 0.6rem;
    font-weight: 600;
}

//스크롤 영역
.board-list {
    flex: 1;
    overflow-y: auto;
    padding: 0 1rem;
    

  //스크롤 바 숨김 처리
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.board-list::-webkit-scrollbar {
    display: none;
}

//게시글 한줄
.board-row {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    background-color: var(--color-font-white);
    word-break: keep-all;
    overflow-wrap: break-word;
    cursor: pointer;
    
    &:hover{
        color: var(--color-main-4-hover);
    }
}