@use '../assets/scss/variables' as * ;
@use '../assets/scss/font' as *;

.spot-card{
  width: 40%;
  height: 70px;
  background-color: #B6ADD0;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.carnum{
  background-color: tomato;
}

.spot-card.paid{
  background-color: #ff9494;
}

.parking{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 2rem;
}
.all_box{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  p{
    font-size: 12px;
    text-align: center;
  }
  .R_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 2rem;
    text-align: center;
  }
  .S_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 2rem;
    text-align: center;
  }
  // .color_box{
  //     .r{
  //       display: flex;
  //       align-items: center;
  //       flex-direction: column;
  //       div{
  //       width: 20px;
  //       height:20px;
  //       background-color: #B6ADD0;
  //       }
  //     }
  //     .v{        
  //       display: flex;
  //       align-items: center;
  //       flex-direction: column;
  //       div{
  //       width: 20px;
  //       height:20px;
  //       background-color: tomato;
  //       }
  //     }
  //     .l{
  //       display: flex;
  //       align-items: center;
  //       flex-direction: column;        
  //       div{
  //       width: 20px;
  //       height:20px;
  //       background-color: #B6ADD0;
  //       }
  //     }
  //   }
}
.info-p{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 2rem 0;
  p{
    @include font-title 
  }
}



