
.spot-card{
  width: 150px;
  height: 150px;
  background-color:beige;
  }

.carnum{
  background-color: tomato;
}

.all_box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  .R_box{
      
  }
  .S_box{
  }
}


