@use "../assets/scss/mixin" as *;

#weather-page {
  .weather {
    color: var(--color-font-sub);
    @include flex-layout(row, center, center);
    img {
      width: 2rem;
      height: 2rem;
    }
    .top {
      @include flex-layout(column, center, flex-start, 0);

      .title {
        @include flex-layout(row, center, center);
      }
    }
  }
}
